<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>home</title>
</head>
<body>
    <header>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
            <li class="nav-item"><a href="/work">Work</a></li>
        </ul>
    </nav>
    <h1>welcome to Mr coffee</h1>
    <p>
        We are dedicated to providing the latest news, insights, and opinions on various topics, including technology, health, entertainment, and more. Our goal is to keep our readers informed and engaged with the world around them.
    </p>
    <h2>Latest Articles</h2>
    
        <h3>Top 5 Gadgets You Need in 2023</h3>
        <p>
            Discover the must-have gadgets for this year, including the latest smartphones, wearables, and smart home devices. Stay ahead of the curve with these cutting-edge technologies.
        </p>
   
       
    
    </header>
    

</body>
</html>